*{ 
   /*  box-shadow: inset 0px 0px 0px 1px rgba(0, 255, 64, 0.349);    */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}

body{
   font-family: ubuntu; 
   line-height: normal;
   scroll-behavior: smooth;
}


.header1{
    margin-bottom: 0;
    font-size: 0.7em;
    color: silver;
}
.header2{
    color: #fff;
    margin-bottom: 0;
    font-size: 0.9em;
    
}
.header2  a{
    text-decoration: none;
    color: yellow;
}
.bg{
    
    padding-top: 15px;
    padding-bottom: 15px;
    flex-wrap: wrap;
   
    background: #333333;
}
.bg p{
    align-items: center;
}
.bg p i{
    color: red;
    margin-right: 5px;
}
.header3{  
    padding: 0;
    background: rgb(204, 77, 60);
}

.navbtn{
    padding:20px 15px 20px 15px;
}
ul li{
    border-left: 1px solid rgb(255, 187, 0);
}
ul li:last-child{
    border-right: 1px solid rgb(255, 166, 0);
}
ul li:hover{
    background-color:rgb(204, 58, 39);
}
.headerTopo{
    position: fixed;
    top: 0px;
    width: 100%;
    
}

/* CARROSEL */
/* .img{
   /*  min-width: 50%; 
    min-width: 200px;
    min-height: 400px;
} 
 */
.containertextbanner{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 480px;
    height: 200px;
    font-weight:100;
    font-size: 3em;
    color: white;
    top: 30%;
    left: 20%;
    animation-name: anima1;
    animation-duration: 3.5s;
}
.containertextbanner p{
    margin-bottom: 0px;
    color: white;
    display: flex;
}
.containerbtn{
    margin-top: 20px;
   /*  border: 2px solid rgb(204, 77, 60); */
    border: 2px solid rgb(204, 202, 60);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0);
    font-size: 0.4em;
    padding: 10px 25px 10px 25px;
    color: white;
}
.containerbtn:hover{
    border: 2px solid rgb(204, 77, 60);
    background-color:rgb(204, 77, 60) ;
}
@keyframes anima1{
    from{
        opacity: 0;
        left:100%
    }
    to{left:20%}
    

}
/* CARDS */

.line{
    margin-bottom: 150px ;
}
/* 
section .card{
    
    position: relative;
    
} */

.card{
   display: flex; 
   
   position: relative; 
   height: 150px;  
   border: none;
    /* top: -100px;  */ 
   /*    */
    margin-top: 20px; 
    
  /*  margin-bottom: 10px; */ 
    /* border: 1px solid red; */
    justify-content: space-between;
   /*  margin-bottom: 200px; */
   
  
}

.card1{
    display: inline-flex; 
    position: relative; 
    z-index: 2;
    justify-content: space-between; 
    text-align: center;
    top: -100px;
    
    /* bottom:-50px; */
    
  /*   min-width: 1110px; */
    /* margin-bottom: 100px; */
    /* z-index: 2; */


    
     
    
    
} 

.cardText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 300px;
    height: 200px;
    padding: 10px;
    margin: 10px;
    background-color: rgb(204, 77, 60);
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.356);
    font-size: 1.5em;
    color: #fff; 
    overflow: hidden;

}

.cardText p{
    font-weight: 500;

}

.cardText span{
    font-weight: 100;
}



/* .card{
    position:absolute;
    display: flex;
    /* flex-direction: column; 
    justify-content: center;
    text-align: center;  
    width: 300px;
    height: 200px;
    top: -90px;   
    z-index: 2;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.356);   
    background:rgb(233, 80, 53);   
    overflow: hidden;
} 
.texto{
    font-size: 1.5em;
    color: white;
}
.texto p{
    font-weight: 500;
}
.texto span{
    font-weight: 100;
}*/
@media screen and (max-width: 480px){
    .logo{
        margin-left: 10px;
    }
    .navbtn{
        padding:15px 15px 15px 15px;
    }
    ul li{
        border-left: none;
        border-bottom: 1px solid rgb(255, 187, 0);
    }
    .containertextbanner{
        width: 280px;
        height: 100px;
        font-size: 1.5em;
        right: 100%;
        /* position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 480px;
        height: 200px;
        font-weight:100;
        font-size: 3em;
        color: white;
        top: 30%;
        left: 20%;
        animation-name: anima1;
        animation-duration: 3.5s; */
    }

    .dimension img{
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
    .card{
        display: flex;
        
       /*  flex-direction: row; */
        
        margin-top: 0;
        padding: 0px;
        height: 390px;
 
    }
    .card1{
        display:flex;
        flex-direction: column;
        position: initial;  
        /* margin-left: 5px; */
        margin-right: 10px;
       
      
    } 
    .cardText{
        display: flex;
        width: 95%;
        height: 100px;
        padding: 0;
        margin: 10px;
        margin-bottom: 10px;
        overflow: visible;
 
    }  
}
@media screen and (min-width: 481px) and (max-width: 768px){
    .card{
        display: flex;
        
      
        position: relative;
        margin-top: 0;
        padding: 0px;
        height: 350px;

    }
    .card1{
        display:flex;
        flex-direction: column;
        position: relative; 
        /* width:100vw; */
        /* height:100px ; */ 
       
        margin: 0px; 
        
        margin-bottom: 100px;
           
      
    } 
    .cardText{
        display: flex;
        width: 95%;
        height: 100px;
        padding: 0;
        margin: 10px;
        margin-bottom: 10px;
        overflow: visible;

    }
    .container{        
        max-width: 768px;
        margin: 0;
        padding: 0;
    }
    .line{
        margin-bottom: 50px;

    }
    /* .containertextbanner{
        position: absolute;
        display: flex;
        top: 10%;
        left: 23%; 
        font-size: 2em;
        justify-content: center;
        align-items: center;
        width: 400px;
        animation-name: anima2;
    } */
    /* @keyframes anima2{     
        from{
           top:-100%
        }
        to{
            top:10%;
        } 
    }    */
 
    .card{
        display: flex ;
       
        display: flex;
        position: relative;
        width: 460px;
        height:200px ;
        top: 20px;
        margin: 10px;    
    }

}
/* 
@media screen and (min-width:769px) and (max-width:1199px){
    .containertextbanner{
        top:15%
    }
    .card{
        display: flex;
        position: initial;
        justify-content: center;
        max-width: 250px;
        height: 150px;
        top: 0px;
        z-index: 0;
        margin: 20px 10px 20px 10px;
    }
    .line{
        margin-bottom: 25px;
    }

}
*/

/* SOBRE */

/* .wrapper{
   
    padding: 5px;
}
.wrapper span{
    font-size: 1.8em;
    font-weight: 500;
    color:rgb(233, 80, 53);
    margin: 2px 5% 20px 5%;    
}
.wrapper p{
    font-size: 0.8em;
    color: grey;
}  */