*{ 
    /* box-shadow: inset 0px 0px 0px 1px rgba(255, 0, 0, 0.349); */   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}

body{
   font-family: ubuntu; 
   line-height: normal;
   scroll-behavior: smooth;
}


.header1{
    margin-bottom: 0;
    font-size: 0.7em;
    color: silver;
}
.header2{
    color: #fff;
    margin-bottom: 0;
    font-size: 0.9em;
    
}
.header2  a{
    text-decoration: none;
    color: yellow;
}
.bg{
    
    padding-top: 15px;
    padding-bottom: 15px;
    flex-wrap: wrap;
   
    background: #333333;
}
.bg p{
    align-items: center;
}
.bg p i{
    color: red;
    margin-right: 5px;
}
.header3{  
    padding: 0;
    background: rgb(204, 77, 60);
}

.navbtn{
    padding:20px 15px 20px 15px;
}
ul li{
    border-left: 1px solid rgb(255, 187, 0);
}
ul li:last-child{
    border-right: 1px solid rgb(255, 166, 0);
}
ul li:hover{
    background-color:rgb(204, 58, 39);
}
.headerTopo{
    position: fixed;
    top: 0px;
    width: 100%;
    
}

/* CARROSEL */

.containertextbanner{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 480px;
    height: 200px;
    font-weight:100;
    font-size: 3em;
    color: white;
    top: 30%;
    left: 20%;
    animation-name: anima1;
    animation-duration: 3.5s;
}
.containertextbanner p{
    margin-bottom: 0px;
    color: white;
    display: flex;
}
.containerbtn{
    margin-top: 20px;
   /*  border: 2px solid rgb(204, 77, 60); */
    border: 2px solid rgb(204, 202, 60);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0);
    font-size: 0.4em;
    padding: 10px 25px 10px 25px;
    color: white;
}
.containerbtn:hover{
    border: 2px solid rgb(204, 77, 60);
    background-color:rgb(204, 77, 60) ;
}
@keyframes anima1{
    from{
        opacity: 0;
        left:100%
    }
    to{left:20%}
    

}
/* CARDS */

.card{
    position:absolute;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    text-align: center;
   
    width: 300px;
    height: 200px;
    top: -90px;
    
    z-index: 2;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.356);
    
    
    background:rgb(233, 80, 53);
    
    overflow: hidden;
    

}
.texto{
    font-size: 1.5em;
    color: white;
}
.texto p{
    font-weight: 500;
}
.texto span{
    font-weight: 100;
}

/* SOBRE */
.wrapper{
   
    padding: 5px;
}
.wrapper span{
    font-size: 1.8em;
    font-weight: 500;
    color:rgb(233, 80, 53);
    margin: 2px 5% 20px 5%;    
}
.wrapper p{
    font-size: 0.8em;
    color: grey;
}