/* ANTES E DEPOIS */

.ad{
    margin-top: 50px;
    margin-bottom: 50px;
   /*  background-image: var(--corPrincipal);  */
}
 
.ad h5{
    padding: 10px;
    font-size: 2em;
    color:  rgb(172, 90, 69);
}
.card_img{
    width: 300px;
    height: 200px;
    overflow: hidden;
    margin: 25px;
}

.small_img{
    height: 100%;
    cursor: pointer;
    transition: 0.7s;
   
}
.small_img:hover{ 
  
   transform: scale(1.5);
   
}
.row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
/* MODAL */
.modal1{    
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    overflow: hidden;
    padding-top: 100px;  
    z-index: 99999;
    background-color: rgba(0, 0, 0, 0.774);
    visibility: hidden; 
}
 .modal_content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
#modal_img{
    width: 65vw;
    transform: scale(0);
    transition: all linear 0.4s;
}
#bt_close{
    color: rgb(250, 68, 44);
    position: fixed;
    top: 13%;
    right: 13vw;
    padding: 5px 10px;
    font-size: 40px;
    font-weight: bolder;
    z-index: 99999;
    transition: all ease-out 0.2s; 
}

#bt_close:hover{
    cursor: pointer;
    color: rgb(168, 34, 16);
    transform: scale(1.2);
}

.modal_ativo{
    visibility: visible;
    opacity: 1;
}

.modal_ativo #modal_img{
    transform: scale(1);
}
/*

 */


/* SERVIÇOS REALIZADOS */













/* ANIMAÇÃO */
[data-anima]{
    opacity: 0;
    transition: 1s;
}
[data-anima="esquerda"]{
    transform: translate3d(-80px,0px,0px);/* x,y,z */
}
[data-anima="direita"]{
    transform: translate3d(80px,0px,0px);/* x,y,z */
}
[data-anima="centro"]{
    transform: translate3d(0px,80px,0px);/* x,y,z */
}
[data-anima].animacao{
    opacity: 1;
    transform: translate3d(0,0,0);
}

