

.btnloc button{
    outline: none;
    
}
.container .btn3{
    width: 150px;
    padding: 8px 10px 8px 10px;
    font-size: 1em;
    letter-spacing: 1.5px;
    border: none;

    background-image: var(--corPrincipal);

}