*{ 
   /*  box-shadow: inset 0px 0px 0px 1px rgba(0, 255, 64, 0.349); */   
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    /* text-decoration: none; */
    
}
h5,h4{
    color:rgb(172, 90, 69) ;
}
:root{
    --corPrincipal:linear-gradient(to right, #7a1b12 0%, #df5432fb 100%);
    --corSecundaria:#e2e24d;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body{
    font-family: ubuntu,Arial, Helvetica, sans-serif; 
    line-height: normal;
    /* scroll-behavior: smooth; */
    overflow-x: hidden;
    /* background-color: rgba(215, 224, 224, 0.575); */
}
a{
    color: white;
}
a:hover{
    color: white;
}
a:link{
    text-decoration: none;  
}
.header1_Sobre{
    margin-bottom: 0;
    font-size: 0.7em;
    color: silver;
}
.header2_Sobre{
    color: #fff;
    margin-bottom: 0;
    font-size: 0.9em;
}
.header2_Sobre a{
    text-decoration: none;
    color: var(--corSecundaria);
}
.bg{
    
    padding-top: 15px;
    padding-bottom: 15px;
    flex-wrap: wrap; 
    background: #333333;
}
.bg p{
    letter-spacing: 0.5px;
    align-items: center;
}
.bg p i{
    color: red;
    margin-right: 5px;
}
.header3_Sobre{
    padding: 0;
    background-image: var(--corPrincipal);
}

.navbtn{
    padding:20px 15px 20px 15px;
}
ul li{
    border-left: 1px solid rgb(255 187 0 / 31%);
}
ul li:last-child{
    border-right: 1px solid rgb(255 187 0 / 31%);
}
ul li:hover{
    background-color:rgb(204, 58, 39);
}

.faleConosco{
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: center;
   /*  text-align: center; */
    flex-direction: column;
    align-items: center;
}
.texto h5{
    margin-bottom: 50px;
   /*  display: flex; */
    font-size: 2em;
    /* color: rgb(172, 90, 69); */
}
.endereco h4{
   /*  color: rgb(172, 90, 69); */
    margin-bottom: 20px;
}
.endereco p{
    color: gray;
    font-size: 0.8em;
    letter-spacing: 0.9px;
}
.endereco span{
    color: rgb(119, 116, 116);
    font-size: 0.9em;
    font-weight: bold;
}
.tel h4{
   /*  color:rgb(172, 90, 69); */
    margin-bottom: 20px;
}
.tel p{
    margin-bottom: 7px;
}
.tel i{
    color: gray;
}
.tel a{
    color:rgb(172, 90, 69);
}

.form{
    margin-top: 50px;
    margin-bottom: 50px;
}
.form p{
    color: rgb(119, 116, 116) ;
}
.form input{
    width: 250px;
    margin-right: 20px;
    padding: 5px;
    border-color:  rgba(255, 255, 255, 0);
    background-color: rgba(184, 180, 180, 0.185);
}
.form input:focus{
    outline: none;
}
#texto{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 5px;
    border-color:  rgba(255, 255, 255, 0);
    background-color: rgba(184, 180, 180, 0.185);

}
#texto:focus{
    outline: none;
}

button{
    width: 100px;
    padding: 8px 10px 8px 10px;
    font-size: 0.8em;
    color: white;
    letter-spacing: 1.5px;
    border: none;
    background-color: rgba(35, 160, 218, 0.856);
    border-radius: 5px;
   /*  background-image: var(--corPrincipal); */
}

footer{
    display: flex;
    /* position: absolute; */
    width: 100%;
    background: #333333;
    justify-content: space-around;
    align-items: center;
    bottom: 0;
}
.footerlogo{
    display: flex;
    flex-direction: column;
    padding: 25px;
    
}
.footerlogo p{
    margin-bottom: 5px;
    color: rgb(155, 145, 145);
}
.footerlogo span{
    color: var(--corSecundaria);
}
.footerlogo2{
    padding: 25px;
}
.footerlogo2 p{
    margin-bottom: 5px;
    color: rgb(155, 145, 145);
}
.footerlogo2 span{
    color: coral;
}
