
/* MÉDIA QUERIES */


@media screen and (max-width: 480px){
    /* HEADER */
    .bg{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .bg p{
        margin-bottom: 5px;
    }
    .logo img{
        display: flex;
        align-self: center;
        margin-left: 10px; 
    }
    .navbtn{
        padding:15px 15px 15px 15px;
    }
    ul li{
        border-left: none;
        border-bottom: 1px solid #e2e24d;
    }
    ul li:last-child{
        border-right: 0px;
        border-bottom: 0px;
    }

    /* BANER */
    .containertextbanner{
        width: 100%;
        height: 100px;
        font-size: 1.5em;
        right: 100%;  
        top: 30%;
        left: 0%;  
        animation-name: anima2;    
    }
    .containertextbanner button{
        font-size: 0.6em;
    }

    .dimension img{
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    /* CARDS */
    .card{    
        padding: 0px;
        height: 690px; 
        margin-left: 10px;
        margin-right: 10px;
    }
    .card1{
       display:block;
      
    }    
    .cardText{       
        display: flex;
        flex-direction: column; 
        top: 10px;
        width:95%; 
        margin: 15px 5px 15px 0px;
        justify-content: center;
       
    } 
    .cardText h3{
        margin-top: 30px;
        font-size: 2em;
    }
    .cardText span{
        font-size: 2em;
    }
    .container .btn2{
        position:relative;
        top: 16px;
    }
    .cardText:hover .btn2{
        top: none;
    }
     /* SOBRE */
    .wrapper{
       justify-content: center;
       margin-bottom: 15px; 
       
    }
    .logo6 img{
        width: 300px;
    }
    .sobre{
        margin-top: 0px;
    }
    .sobre p{
        text-align: justify;
    }
    /* PARALAX */

    .Parallax1{
        height: 36vh;
    }
    .wrapper2{
        top: -24vh;
    }
    .wrapper2 h5{
        font-size: 1.8em;
    }
    .wrapper2 p{
        font-size: 1.8em;
    }
    
    main footer{
        display: block;
    }
    main footer .footerlogo{
        padding-top: 15px;
        padding-bottom: 10px;
    }
    
    main footer .footerlogo2{
        padding-top: 15px;
        padding-bottom: 10px;
    }
    
    
}
@media screen and (min-width: 481px) and (max-width: 766px){
    /* HEADER */
    .logo{
        margin-left: 20px;
    }
    .navbtn{
        padding:15px 15px 15px 15px;
    }
    ul li{
        border-left: none;
       /*  border-right: none; */
        border-bottom: 1px solid #e2e24d;
    }
    ul li:last-child{
        border-right: 0px;
        border-bottom: 0px;
    }
    /* BANNER */
    .containertextbanner {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 200px;
        font-weight: 100;
        font-size: 1.7em;
        color: white;
        top: 30%;
        left: 0%;
        animation-name:anima2;
        animation-duration: 3.5s;
    }
    /* CARDS */
    .dimension img{
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    .card{  
        padding: 0px;
        height: 690px;
        margin-left: 10px; 
        margin-right: 10px;
    
    }
    .card1{
        display:block;
        width:100vw;
        height: 235px;
            /* flex-direction: column; */
           /*  position: absolute; */ 
           /*  top: 0px; */
            /*width:100vw;  */
            /* height:100px ; */ 
           
           /*  margin: 0px; */
            
            /*margin-bottom: 100px; */    
    }
        
    .cardText {
        display: flex;
        flex-direction: column;
        width: 95%;
           
        top: -7px;
        margin: 15px 5px 15px 5px;
        justify-content: center;
           /*  height: 100px; */
           /*  padding: 0; */
           /*  margin: 10px; */
           /*  margin-bottom: 10px; */
            /* overflow: visible; */
     
    }
    .cardText h3{
        margin-top: 30px;
        font-size: 2em;
    }
    .cardText span{
        font-size: 2em;
    }
    .container .btn2{
        position:relative;
        top: 16px;
    }
    .cardText:hover .btn2{
        top: none;
    }
    
    /* SOBRE */
    .wrapper{
        justify-content: center;
            /*  j margin-bottom: 25px; */
            
    }
    .sobre{
        margin-top: 0;
    }

    .sobre p{
        text-align: justify;
    }
    /* PARALAX */
    .Parallax1{
        height: 36vh;
    }
    .wrapper2{
        display: none;
    }
        /* .wrapper2{
            top: ;
        } */
}



@media screen and (min-width:767px) and (max-width:1200px){
    ul li{
        border-left: 0px;
        border-bottom: 0px solid #e2e24d;
    }
    ul li:last-child{
        border-right: 0px;
        border-bottom: 0px;

    }
    .containertextbanner {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 200px;
        font-weight: 100;
        font-size: 1.9em;
        color: white;
        top: 30%;
        left: 0%;
        animation-name:anima2;
        animation-duration: 3.5s; 
    }
    .dimension img{
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
    .card{
        border: none;
           
    }
    .card1{
        display: flex;
        height: 235px;
        justify-content: space-between;
    }
    .cardText{
        top: 0;
         margin: 15px 10px 15px 10px;
    }
    
    /* PARALAX */
    .Parallax1{
     height: 37vh;
    }
        
        
}

